<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>

<div class="card">
  <hr>
  <hr>
  <div class="card-body">
    <h5 class="card-title">Acerca de nosotros</h5>
    <p class="card-text">Benedictino es un líder 
en argentina en el ecodiseño de envases de plástico. Nuestros productos son fabricados en material compostable 100% reciclado, reciclable o certificado.
</p>
    <a href="/producto" class="btn btn-primary">Ver nuestro Productos</a>
  </div>
</div>

<div class="card" aria-hidden="true">
  <img src="https://www.tiltongroup.com/assets/medias/STACK_004.jpg" class="card-img-top" alt="...">
  <div class="card-body">
<span class="placeholder bg-danger w-7 bg-dark text-light ">100% reciclado y reciclable</span>
<span class="placeholder bg-danger w-7 bg-dark text-light ">La gama Repost ilustra los beneficios de la economía circular. Hechos de plástico reciclado 100% post-consumo de los centros de clasificación, estos envases demuestran una complejidad completa al dar un nuevo uso a los recursos de PET.</span>
<span class="placeholder bg-danger w-7 bg-dark text-light ">Envases diseñados para el futuro</span>
<span class="placeholder col-12 bg-light"></span>

    <a href="/contacto" class="btn btn-primary">Escribenos</a>
  </div>
</div>

</body>
</html>
